<div class="menu-overlay"></div>


<!-- jQuery  -->
<script src="~/Admin/vertical/assets/js/jquery.min.js"></script>
<script src="~/Admin/vertical/assets/js/bootstrap.bundle.min.js"></script>
<script src="~/Admin/vertical/assets/js/metismenu.min.js"></script>
<script src="~/Admin/vertical/assets/js/waves.js"></script>
<script src="~/Admin/vertical/assets/js/simplebar.min.js"></script>
<script src="~/Admin/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
<script src="~/Admin/vertical/assets/pages/advanced-plugins-demo.js"></script>
<script src="~/Admin/plugins/autonumeric/autoNumeric-min.js"></script>
<script src="~/Admin/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<script src="~/Admin/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
<script src="~/Admin/plugins/moment/moment.js"></script>
<script src="~/Admin/plugins/daterangepicker/daterangepicker.js"></script>
<script src="~/Admin/plugins/select2/select2.min.js"></script>
<script src="~/Admin/plugins/switchery/switchery.min.js"></script>
<script src="~/Admin/plugins/bootstrap-colorpicker/bootstrap-colorpicker.min.js"></script>
<script src="~/Admin/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
<!-- App js -->
<script src="~/Admin/vertical/assets/js/theme.js"></script>

