@model Rentacarproject.Dto.PricingDtos.UpdatePricingDto

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Bootstrap MaxLength</h4>
                <p class="card-subtitle mb-4">Uses the HTML5 attribute "maxlength" to work.</p>
                <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div hidden class="form-group">
                <label asp-for="PricingID" class="control-label"></label>
                <input  asp-for="PricingID" class="form-control" />
                <span asp-validation-for="PricingID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
                </form>
            </div>
        </div>

        <div>
            <a class="btn btn-primary" asp-action="Index">Back to List</a>
        </div>

    </div>
</div>
