@model Rentacarproject.Dto.BlogDtos.CreateBlogDto

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>Admin Panelinde Bunu Yapamazsınız yazar olarak giriş yapınız.</h1>
