@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/UILayout/Index.cshtml";
}

@await Component.InvokeAsync("_MainCoverUILayoutComponentPartial")

<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            @await Component.InvokeAsync("_BlogDetailMainContentComponentPartial", new { id = ViewBag.blogid })

            <div class="col-md-4 sidebar ftco-animate">

                @await Component.InvokeAsync("_BlogDetailSideBarSearchBoxComponentPartial")
                @await Component.InvokeAsync("_BlogDetailSideBarCategoriesComponentPartial")
                @await Component.InvokeAsync("_BlogDetailRecentBlogsComponentPartial")
                @await Component.InvokeAsync("_BlogDetailSideBarTagCloudComponentPartial",new{id=ViewBag.blogid})
                @await Component.InvokeAsync("_BlogDetailSideBarParagraphComponentPartial")








            </div>

        </div>
    </div>
</section>

